.cart {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #f26900;
  background-image: url("../../assets/always-grey.png");
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
}

div.cart > * {
  padding: 0.8rem;
}

.youCart {
  font-size: 2rem;
  font-weight: 700;
}
